@using AppUTM.Client.Models.Roles;

@model IEnumerable<AppUTM.Api.DTOS.Modules.ModuleReturn>

@{

    List<RoleReturn> roles = ViewBag.Roles;
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>

                @foreach (var r in roles)
                {
                    if (item.ModuleRoles.Any(rol => rol.RoleId == r.Id))
                    {


                        <input type="checkbox" checked="checked" readonly="readonly" onclick="javascript: return false;" /><label>@r.Nombre</label>
                    }
                    else
                    {
                        <input type="checkbox" readonly="readonly" onclick="javascript: return false;" /><label>@r.Nombre</label>
                    }

                }


            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
