@using AppUTM.Client.Models.Roles;

@model IEnumerable<AppUTM.Api.DTOS.Modules.ModuleReturn>

@{

    List<RoleReturn> roles = ViewBag.Roles;
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @Html.ActionLink("Detalles", "Detalles", new { id = item.Id })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
