
@using AppUTM.Api.DTOS.Permissions;
@model IEnumerable<AppUTM.Client.Models.Roles.RoleReturn>

@{
    List<PermissionReturn> permisos = ViewBag.Permisos;
    ViewData["Title"] = "Index";
}


<h1>Roles</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Crear Rol</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @*<td>

                        @foreach (var p in permisos)
                        {
                            if (item.RolePermissions.Any(r => r.PermissionId == p.Id))
                            {


                                <input type="checkbox" checked="checked" readonly="readonly" onclick="javascript: return false;" /><label>@p.Module</label>
                            }
                            else
                            {
                                <input type="checkbox" readonly="readonly" onclick="javascript: return false;" /><label>@p.Module</label>
                            }

                        }


                    </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @Html.ActionLink("Detalle", "Details", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
