@model AppUTM.Client.Models.Cupones

@{
    ViewData["Title"] = "Listado de cupones";
    int i = 1;
}

<div class="d-flex">
    <h2 class="mt-2 mb-3">Cupones de @Model.Empresa.Nombre</h2>
    <a class="btn btn-secondary myButton" asp-controller="Empresas" asp-action="Index">Regresar</a>      
</div>
<div class="container mt-4 mx-auto row center-block">
    <div class="col">
        <div class="d-flex">
            <h5>Cupones textuales</h5>
            <a class="btn btn-green btn-sm text-center mx-3" asp-action="CreateGenerico" asp-route-Id="@Model.Empresa.EmpresaId">Agregar</a>
        </div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha de vencimiento</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.cuponesGenericos)
                {
                <tr>
                    <th scope="row">
                        @(i++)
                    </th>
                    <td>
                        @Html.DisplayFor(x => item.FechaExpiracion)
                    </td>
                    <td><a class="btn btn-green" asp-route-Id="@item.CuponGeneridoId" asp-action="UpdateGenerico">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col">
        <div class="d-flex">
            <h5>Cupones por imagen</h5>
            <a class="btn btn-green btn-sm text-center mx-3" asp-action="CreateCuponImagen" asp-route-Id="@Model.Empresa.EmpresaId">Agregar</a>
        </div>
        <p style="display:none">@(i=1)</p>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha de vencimiento</th>
                    <th scope="col">Imagen</th>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>                
                @foreach (var item in Model.cuponesImagen)
                {
                    <tr>
                        <th scope="row">
                            @(i++)
                        </th>
                        <td>
                            @Html.DisplayFor(x => item.FechaExpiracion)
                        </td>

                        <td>
                            <img class="qr" src="data:image/jpeg;base64, @item.Imagen" alt="Cupón @item.EmpresaId">
                        </td>
                        <td><a class="btn btn-green" asp-route-Id="@item.CuponImagenId" asp-action="UpdateCuponImagen">Editar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


