@model AppUTM.Api.DTOS.ModulesRoles.ModuleRoleDelete

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar acceso a módulo</h1>

<h3>¿Esta seguro de eliminar este registro?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModuleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lectura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lectura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escritura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escritura)
        </dd>
    </dl>



    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" asp-route-ModuleId="@Model.ModuleId" asp-route-RoleId="@Model.RoleId" />
        <a asp-action="Index">Regresar</a>
    </form>
</div>
