@using AppUTM.Client.Models.Roles;
@using AppUTM.Client.Models.Users;
@model IEnumerable<AppUTM.Client.Models.Users.UserReturn>

@{
    List<RoleReturn> roles = ViewBag.Roles;


    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
<p>
    <a class="btn btn-green btn-sm" asp-controller="Usuario" asp-action="Empleados">Crear usuario</a>

</p>
<table class="table" style="margin:0;">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ClaveEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>Roles</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ClaveEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @foreach (var r in roles)
                    {
                        if (item.UserRoles.Any(rol => rol.RoleId == r.Id))
                        {

                            <label>@r.Nombre</label>
                        }


                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @Html.ActionLink("Detalles", "Detalles", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
