@model AppUTM.Client.Models.Cupones
@{
    ViewData["Title"] = "Reporte";
    Layout = null;
}

<div class="d-flex">
    <h2 class="mt-2 mb-3">Cupones de @Model.Empresa.Nombre</h2>

</div>
<div  class="container mt-4 mx-auto row center-block">
    <div style="border: 1px solid #666; padding: 20px">
        <div class="col">
            <div class="d-flex">
                <h5>Cupones Genéricos</h5>
            </div>
            <table style="text-align: center" class="table mt-3">
                <thead>
                    <tr >
                        <th   scope="col">| Fecha de vencimiento |</th>
                        <th  scope="col">Uso por persona |</th>
                        <th   scope="col">Porcentaje de descuento |</th>
                        <th @*style="margin-left:50px"*@  scope="col">Veces visitado el cupón |</th>
                        <th @*style="margin-left:50px"*@  scope="col">Veces usado el cupón |</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.cuponesGenericos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.FechaExpiracion)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.NumeroPorPersona)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.PorcentajeDescuento)%
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesUsados)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesVisitados)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <br />
    <br />
    <div style="border: 1px solid #666; padding: 20px">
        <div class="col">
            <div class="d-flex">
                <h5>Cupones por Imagen</h5>
            </div>
            <table style="text-align: center" table mt-3">
                <thead>
                    <tr>
                        <th  scope="col">| Fecha de vencimiento |</th>
                        <th  scope="col"> Imagen    |</th>
                        <th scope="col">Veces visitado el cupón |</th>
                        <th scope="col">Veces usado el cupón |</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.cuponesImagen)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.FechaExpiracion)
                            </td>
                            <td>
                                <img style="height:100px; width:100px;" class="qr" src="http://localhost:59131/api/CuponesImagen/image?nombreArchivo=@item.Imagen" alt="Cupón @item.EmpresaId">
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesVisitados)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesUsados)
                            </td>



                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>


