@model AppUTM.Client.Models.Cupones
@{
    ViewData["Title"] = "Reporte";
    Layout = null;

}



<head>
    <title>Reporte</title>
</head>

<h1>Reporte de la empresa: @Model.Empresa.Nombre</h1>
<p style="line-height: 2px;">Datos:</p>
<p style="line-height: 2px;">RFC: @Model.Empresa.RFC</p>
<p style="line-height: 2px;"> Dirección: @Model.Empresa.Direccion</p>
<p style="line-height: 2px;">Teléfono: @Model.Empresa.Telefono</p>
<div class="container mt-4 mx-auto row center-block">
    <div style="border: 1px solid #666; padding: 20px">
        <div class="col">
            <div class="d-flex">
                <h5>Cupones Genéricos</h5>
            </div>
            <table style="text-align: center" class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">|Descripción</th>
                        <th scope="col">|Vencimiento</th>
                        <th scope="col">|Descuento</th>
                        <th scope="col">|Núm. de cupones</th>
                        <th scope="col">|Cupones usados</th>
                        <th scope="col">|Cupones disponibles</th>
                        <th scope="col">|Visualizaciones|</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.cuponesGenericos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.FechaExpiracion)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.PorcentajeDescuento)%
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.NumeroPorPersona)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesUsados)
                            </td>
                            <td>
                                @(item.CuponesDisponibles = item.NumeroPorPersona-item.CuponesUsados)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesVisitados)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <br />
    <br />
    <div style="border: 1px solid #666; padding: 20px">
        <div class="col">
            <div class="d-flex">
                <h5>Cupones por Imagen</h5>
            </div>
            <table style="text-align: center" table mt-3">
                <thead>
                    <tr>
                        <th scope="col">|Descripción</th>
                        <th scope="col">|Vencimiento</th>
                        <th scope="col">|Cupones usados</th>
                        <th scope="col">|Visualizaciones|</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model.cuponesImagen)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(x => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.FechaExpiracion)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesUsados)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesVisitados)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>




