@model AppUTM.Client.Models.Cupones
@{
    ViewData["Title"] = "Reporte";
    Layout = null; }

<html>
<head>
    @*link de prueba https://localhost:44301/ReporteEmpresa/Index/7*@
    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous">
    <style>
        .contenedor {
            width: 100%;
            height: auto;
            display: flex !important;
            /*/ ETIQUETA QUE POSICIONA UNO AL LADO DEL OTRO */ 
            flex-wrap: wrap;
        }
    </style>
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
    <title>Reporte</title>
</head>
<body>
    <h1>Reporte de la empresa: @Model.Empresa.Nombre</h1>
    <p style="line-height: 2px;">Datos:</p>
    <p style="line-height: 2px;">RFC: @Model.Empresa.RFC</p>
    <p style="line-height: 2px;"> Dirección: @Model.Empresa.Direccion</p>
    <p style="line-height: 2px;">Teléfono: @Model.Empresa.Telefono</p>
    <div class="container mt-4 mx-auto row center-block">
        <div style="border: 1px solid #666; padding: 20px">
            <div class="col">
                <div class="d-flex">
                    <h5>Cupones Genéricos</h5>
                </div>
                <table style="text-align: center" class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Vencimiento</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Núm. de cupones</th>
                            <th scope="col">Cupones usados</th>
                            <th scope="col">Cupones disponibles</th>
                            <th scope="col">Visualizaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.cuponesGenericos)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.FechaExpiracion)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.PorcentajeDescuento)%
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.NumeroPorPersona)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.CuponesUsados)
                                </td>
                                <td>
                                    @(item.CuponesDisponibles = item.NumeroPorPersona-item.CuponesUsados)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.CuponesVisitados)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <br />
        <br />
    </div>

    <div style="padding: 20px">
        <div class="col">
            
            <br />
            @foreach (var item in Model.cuponesImagen)
            {
                <div class="contenedor">
                    <div class="card" style="width: 18rem;">

                        <p style="text-align:center; padding:10px"><img style="width:186px; height:180px;" class="card-img-top; qr" src="data:image/jpeg;base64, @item.Imagen" alt="Card image cap, Cupón"> </p>

                        <div class="card-body">
                            <h5 class="card-title">Cupón de imagen</h5>
                            <p class="card-text">Vencimiento:  @Html.DisplayFor(x => item.FechaExpiracion)</p>
                            <p class="card-text">Descripcion: @item.Descripcion</p>
                            <p class="card-text">Cupones usados: @item.CuponesUsados</p>
                            <p class="card-text">Cupones visitados: @item.CuponesVisitados</p>
                        </div>

                    </div>
                </div>
                
            }
        </div>
    </div>

</body>
</html>



