@model AppUTM.Client.Models.Empresa
@{
    ViewData["Title"] = "Agregar una nueva de empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Datos de @Model.Nombre</h4>
<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group row mt-4">
        <input type="hidden" asp-for="Domain" value="@Model.Domain" />
        <div class="form-group col-md-4">
            <label>RFC</label>
            <label class="form-control">@Model.RFC</label>
            <input type="hidden" class="form-control" asp-for="RFC" value="@Model.RFC" />
        </div>
        <div class="form-group col-md-5">
            <label>Nombre</label>
            <label class="form-control">@Model.Nombre</label>
            <input type="hidden" class="form-control" asp-for="Nombre" value="@Model.Nombre" />
        </div>
        <div class="form-group col-md-3">
            <label>Alias</label>
            <input type="text" class="form-control" asp-for="Alias" required />
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="form-group col-md-4">
            <label>Tipo</label>
            <input type="text" class="form-control" asp-for="Tipo" required />
        </div>
        <div class="form-group col-md-4">
            <label>Estado</label>
            <label class="form-control">True</label>
            <input type="hidden" class="form-control" asp-for="Activa" value="True" />
        </div>
        <div class="form-group col-md-4">
            <label>Teléfono</label>
            <label class="form-control">@Model.Telefono</label>
            <input type="hidden" class="form-control" asp-for="Telefono" value="@Model.Telefono">
        </div>
    </div>
    <div class="form-group mt-3">
        <label>Dirección</label>
        <label class="form-control">@Model.Direccion</label>
        <input type="hidden" class="form-control" name="Direccion" asp-for="@Model.Direccion">
    </div>
    <div class="d-flex">
        <div class="mt-5">
            <label for="">Agregar Imagen</label>
            <input class="form-control" type="file" name="Foto" required>
        </div>

    </div>
    <div>
        <input type="submit" class="btn btn-green mt-4" value="Agregar Empresa" />
        <a class="btn btn-secondary mt-4" asp-action="Index">Cancelar/Regresar</a>
    </div>
</form>
