@model AppUTM.Client.Models.Empresa
@{
    ViewData["Title"] = "Actualizar datos de empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Datos de @Model.Nombre</h4>
<form asp-action="Update" enctype="multipart/form-data">
    <div class="form-group row mt-4">
        <input type="hidden" asp-for="EmpresaId" value="@Model.EmpresaId">   
        <div class="form-group col-md-4">
            <label>RFC</label>
            @if (Model.RFC != null)
            {
                <label class="form-control disabled-input">@Model.RFC</label>
            }
            else
            {
                <label class="form-control disabled-input">No disponible</label>
            }
            <input style="background-color:gray" type="hidden" class="form-control" asp-for="RFC" value="@Model.RFC">
        </div>
        <div class="form-group col-md-6">
            <label>Nombre</label>
            <label class="form-control disabled-input">@Model.Nombre</label>
            <input type="hidden" class="form-control" asp-for="Nombre" value="@Model.Nombre">
        </div>
        <div class="form-group col-md-2">
            <label>Teléfono</label>
            @if (Model.Telefono != null)
            {
                <label class="form-control disabled-input">@Model.Telefono</label>
            }
            else
            {
                <label class="form-control disabled-input">No disponible</label>
            }
            <input type="hidden" class="form-control" asp-for="Telefono" value="@Model.Telefono">
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="form-group col-md-4">
            <label>Estado</label>
            <label class="form-control disabled-input">@Model.Activa</label>
            <input type="hidden" class="form-control" asp-for="Activa" value="@Model.Activa">
        </div>
        <div class="form-group col-md-8">
            <label>Dirección</label>         
            <label class="form-control disabled-input">@Model.Direccion</label>
            <input type="hidden" class="form-control" name="Direccion" asp-for="@Model.Direccion">
        </div>       
    </div>
    <div class="form-group row mt-4">
        <div class="form-group col-md-4">
            <label>Alias</label>
            <input type="text" class="form-control" asp-for="Alias" value="@Model.Alias">
        </div>
        <div class="form-group col-md-4">
            <label>Tipo</label>
            <input type="text" class="form-control" asp-for="Tipo" value="@Model.Tipo">
        </div>
    </div>
    <div class="d-flex">
        <div class="mt-5">
            <label for="">Cambiar imagen</label>
            <input class="form-control" type="file" name="Foto">
            <input type="hidden" name="ImagenEmpresa" asp-for="@Model.ImagenEmpresa" />
        </div>
        <img class="mx-2 mt-3" id="company" src="data:image/jpeg;base64, @Model.ImagenEmpresa" alt="@Model.ImagenEmpresa">
    </div>
    <div>
        <input type="submit" class="btn btn-green mt-4" value="Guardar Datos" />
        @if (Model.Cupones)
        {
            <button type="button" class="btn btn-danger mt-4 mx-3" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Desactivar Empresa</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p id="exampleModalCenterTitle" class="w-100 text-center">¿Desea desactivar esta empresa?</p>
                        </div>
                        <div class="modal-body mx-auto">
                            <a asp-route-EmpresaId="@Model.EmpresaId" asp-route-Id="@Model.EmpresaId" asp-action="Desactivar" class="btn btn-danger">Desactivar Empresa</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <button type="button" class="btn btn-danger mt-4 mx-3" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Eliminar Empresa</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p id="exampleModalCenterTitle" class="w-100 text-center">Esta empresa no tiene cupones ligados, ¿Desea eliminarla?</p>
                        </div>
                        <div class="modal-body mx-auto">
                            <a asp-route-EmpresaId="@Model.EmpresaId" asp-route-Id="@Model.EmpresaId" asp-action="DeleteEmpresas" class="btn btn-danger">Eliminar Empresa</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <a class="btn btn-secondary mt-4" asp-action="Index">Cancelar/Regresar</a>
    </div>
</form>
