@page "/Events"
@attribute [Authorize]
@if (_events == null)
{
    <Spinner />
}
else
{
    if (Authorize)
    {
        <div class="container mt-3">
            <div class="d-flex mb-3">
                <h2 class="mx-auto">Lista de eventos</h2>
                <RadzenButton Text="Agregar Evento" ButtonStyle="ButtonStyle.Success" Click=@(() => _navigation.NavigateTo($"/Events/Create")) Disabled="!Write" />
            </div>
            <RadzenDataGrid AllowColumnResize="true" AllowFiltering="true" FilterMode="FilterMode.Simple" AllowPaging="true" AllowSorting="true" Data="_events" PageSize="10" TItem="EventReturn">
                <Columns>
                    <RadzenDataGridColumn TItem="EventReturn" Property="Title" Title="Titulo">
                        <Template Context="data">
                            @($"{data.Title}")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="EventReturn" Property="Author.Nombre" Title="Author">
                        <Template Context="data">
                            @($"{data.Author.Nombre}")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="EventReturn" Property="StartDate" Title="Fecha de inico">
                        <Template Context="data">
                            @($"{data.StartDate:d}")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="EventReturn" Property="EndDate" Title="Fecha de terminacion">
                        <Template Context="data">
                            @($"{data.EndDate:d}")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="EventReturn" Property="IsSuggest" Title="Sugerido">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value="@data.IsSuggest" TValue="bool" Disabled="true" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="EventReturn" Property="IsActivity" Title="Actividad">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value="@data.IsActivity" TValue="bool" Disabled="true" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="EventReturn" Title="Editar">
                        <Template Context="data">
                            <RadzenButton Text="Editar" ButtonStyle="ButtonStyle.Success" Click=@(() => _navigation.NavigateTo($"/Events/Edit/{data.Id}")) Disabled="!Write" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="EventReturn" Title="Mandar a revision">
                        <Template Context="data">
                            <RadzenButton Text="Revision" ButtonStyle="ButtonStyle.Success" Click=@(()=>Revised(data.Id)) Disabled="!Write" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    }
    else
    {
        <Unauthorized />
    }
}

@code
{
    IEnumerable<EventReturn> _events;

    public bool Write;
    public bool Authorize;
    protected override async Task OnInitializedAsync()
    {
        var userDb = IsDataNull.CreateInstanceIfIsNull(await _localStorage.GetValue<UserReturn>(ValueKeys.User));
        if (userDb.UserRoles.Any(x => x.Role.RoleModules.Any(x => x.ModuleId == 3 && x.Write)))
        {
            Write = true;
        }
        if (userDb.UserRoles.Any(x => x.Role.RoleModules.Any(x => x.ModuleId == 3 && x.Read)))
        {
            Authorize = true;
        }
        _events = await GetExtensions.GetAllEvents(_http);
    }

    async Task Revised(int id)
    {
        var eventMessage = await _http.PostAsJsonAsync("Event/Revised", id);
        NotificationExtensions.ShowNotification(_notificationService, eventMessage.IsSuccessStatusCode ? new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Evento mandado a revision", Duration = 3000 } : new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "No se pudo mandar a revisión el evento", Duration = 3000 });
        _events = await GetExtensions.GetAllEvents(_http);
    }
}