@page "/"
<AuthorizeView>
    <Authorized>
        @if (_events == null)
        {
            <Spinner />
        }
        else
        {
            <div class="container">
                <h2 class="mx-auto">BIENVENIDO @context.User.Identity?.Name</h2>
                <hr />
                <RadzenScheduler Data="_events" TItem="EventReturn" StartProperty="@nameof(EventReturn.StartDate)" EndProperty="@nameof(EventReturn.EndDate)" TextProperty="@nameof(EventReturn.Title)" style="height: 768px;">
                    <Template Context="data">
                        <strong>@data.Title</strong>
                    </Template>
                    <ChildContent>
                        <RadzenDayView />
                        <RadzenWeekView />
                        <RadzenMonthView />
                    </ChildContent>
                </RadzenScheduler>
            </div>
        }

        @code
        {
            IEnumerable<EventReturn> _events;

            protected override async Task OnInitializedAsync()
            {

                _events = await GetExtensions.GetAllEventsPublished(_http);

            }

        }
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>