@model AppUTM.Client.Models.Cupones

@{
    ViewData["Title"] = "Información de la empresa";
}

<div class="d-flex">
    
    <h2 class="mt-2 mb-3">Cupones de @Model.Empresa.Nombre</h2>
</div>
<div class="container mt-4 mx-auto row center-block">
    <div>
        <div class="col">
            <div class="d-flex">
                <h5>Cupones Genéricos</h5>
            </div>
            <table style="text-align: center" class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Vencimiento</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Núm. de cupones</th>
                        <th scope="col">Cupones usados</th>
                        <th scope="col">Cupones disponibles</th>
                        <th scope="col">Visualizaciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.cuponesGenericos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.FechaExpiracion)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.PorcentajeDescuento)%
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.NumeroPorPersona)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesUsados)
                            </td>
                            <td>
                                @(item.CuponesDisponibles = item.NumeroPorPersona-item.CuponesUsados)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CuponesVisitados)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
  <div>
        <div class="col">
            <div class="d-flex">
                <h5>Cupones por Imagen</h5>
            </div>
            <table style="text-align: center" class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Vencimiento</th>
                        <th scope="col">Cupones usados</th>
                        <th scope="col">Visualizaciones</th>
                    </tr>
                    
                </thead>

                <tbody>
                    
          
                    @foreach (var item in Model.cuponesImagen)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(x => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.FechaExpiracion)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.CuponesUsados)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.CuponesVisitados)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>    

<div>
    <a class="btn btn-secondary myButton" asp-controller="Reporte" asp-action="Index">Regresar</a>
    <a class="btn btn-danger myButton" asp-controller="CrearPDF" asp-action="Index" asp-route-Id="@Model.Empresa.EmpresaId">Crear PDF</a>
</div>

<br />
<br />